* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width:100%;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}
#video-nen {
    position: fixed;
    width: 100%; 
    height: 100%;
    z-index: -100;
    object-fit: cover; 
}
/*=+=+=+=+=*/
/* [ #man-hinh-dang-nhap { ... } ] */
#man-hinh-dang-nhap {
    width: 100%;
    height: 100%;
    z-index: -99;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0; 
    transition: opacity 2s ease; 
}
/*<=====|thư mời|=====>*/
#thu-moi{
    width: 444px;
    height: auto;
    background:
    url(../2_images/Khung_doc.webp) no-repeat center /100% 100% ,
    rgba(0, 0, 0, 0.5);

    padding-top:55px;
    padding-bottom:55px;
    padding-left:20px;
    padding-right:20px ;

    display: flex;
    flex-direction:column;
    align-items: center;
}
/*<=====/Nội dung bên trong thu moi\=====>*/
#chulon{
    width:350px;
    height:auto;
}
#chunho{
    width:350px;
    height:auto;
    transform:translateY(-28px);
}
/*=====*/
#loi-moi{
    padding-top:30px;
    padding-bottom:30px;
    color:white;
    line-height:20px;
    text-align:center;
    font-size: 14px;
}
/*=====*/
#ky-ten {
    background: transparent;
    border: none;
    border-bottom: 1px solid #EDC382;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    outline: none;
}
/*=====*/
#nut-thu-moi {
    margin-top: 25px;
    padding: 10px 70px;
    background: rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #EDC382;
    border: 1px solid #EDC382;
    cursor: pointer;
    border-radius: 5px; 

    opacity: 0;
    visibility: hidden;
    transform: translateY(30px) scale(0.8);
    transition: all 0.5s ease-out; 
}
#nut-thu-moi.hien-ra {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
    box-shadow: 0 0 15px #EDC382;
}
#nut-thu-moi:hover {
    transform: scale(1.2);
    color: #EDC382;
    background: rgba(237, 195, 130, 0.2);
    filter: brightness(2);
    
}
/*<=====\Nội dung bên trong thu moi/=====>*/

#man-hinh-cho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s ease;
}
#anh-nen-mo{
    position: absolute;
    width: 100%;
    height: 100%;
    background:url(../2_images/Hinh_Nen/cong_vao.jpg)  no-repeat center / cover;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: -1;
}
#nut-vao-web {
    background:none;
    border:none;
    padding:0;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.5);
}
#nut-vao-web:hover {
    transform: scale(2);
    filter: brightness(1.3);
}